@page "/random-recipe"
@using MauiCookbook.Models
@using MauiCookbook.Services
@inject IRecipeService RecipeService

<h3 class="text-center mt-4">Random Recipe</h3>

<div class="d-flex justify-content-center mb-3">
    <button class="btn btn-primary btn-lg" @onclick="GenerateRandomRecipe">Get Random Recipe</button>
</div>

@if (randomRecipe != null)
{
    <div class="random-recipe-container mt-3">
        <h4>@randomRecipe.RecipeName</h4>
        <div class="random-recipe-details">
            <p class="mb-0"><strong>Description:</strong> @randomRecipe.Description</p>
            <!-- Add more details as needed -->
        </div>
    </div>
}

@code {
    private Recipe randomRecipe;

    private List<Recipe> recipesFromDb = new();

    protected override async Task OnInitializedAsync()
    {
        recipesFromDb = await RecipeService.GetAllRecipesAsync();
    }

    private async Task GenerateRandomRecipe()
    {
        Random rand = new Random();
        int randNum = rand.Next(recipesFromDb.Count);
        randomRecipe = recipesFromDb[randNum];
    }
}
